{% extends 'base.html.twig' %}

{% block title %}Note-App!{% endblock %}

{% block body %}
<style>
  body {
    background-color: #EEEEEE;
  }
  .cadre-todo {
    position: relative;
    margin: 0 auto;
    padding: 20px;
    max-width: 1200px;
  }
  .todo-container {
    position: relative;
    width: 100%;
    max-width: 430px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #EEEEEE;
    overflow: hidden;
    text-align: center;
    padding: 20px;
  }
  .background {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0px 0px;
  }
  .note-cadre {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  .note-text-cadre {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 12px;
    gap: 10px;
    width: 100%;
    max-width: 267px;
    margin: 10px 0;
    background: #D9D9D9;
    border-radius: 27px;
    position: relative;
  }
  .note-text-cadre label {
    color: #2A9D8F;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    margin-bottom: 5px;
  }
  .note-text {
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: black;
    border: none;
    background: none;
    outline: none;
    padding: 0;
  }
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 26px;
    cursor: pointer;
    padding: 10px;
    width: 114px;
    height: 46px;
    margin: 10px auto;
    border: none;
    background: #2A9D8F;
    color: #FFFFFF;
    margin-top: 25px;
  }
  .connexion {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    text-align: center;
    color: #2A9D8F;
  }
  h1 {
    color: #2A9D8F;
    margin: 10px 0;
  }

  p {
    color: black;
  }

  .btn-success {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 26px;
    cursor: pointer;
    padding: 10px;
    width: 114px;
    height: 46px;
    margin: 10px auto;
    border: none;
    background: #E76F51;;
    color: #FFFFFF;
  }

  @media (max-width: 768px) {
    .todo-container {
      width: 90%;
      margin: 0 auto;
    }
    .note-text-cadre {
      width: 90%;
    }
    .btn, .connexion {
      width: 80%;
    }
  }
</style>

<div class="cadre-todo">
  <div class="todo-container">
    <img src="{{ asset('/image/3-removebg-preview.png') }}" alt="background" class="background">
    <h1>Too-Doo List</h1>
    <p>Fini les oublis quand on est inscrit</p>
  </div>

  <div class="note-cadre">
    <form action="{{ path('app_register') }}" method="post">
      {% if error is defined %}
        <p style="position: absolute;left: 150px; top: -121px;color: red;">{{ error }}</p>
      {% endif %}

      <div class="note-text-cadre">
        <label for="name" class="label-name">Nom:</label>
        <input type="text" name="nom" class="note-text" required>
      </div>

      <div class="note-text-cadre">
        <label for="email" class="label-email">Email:</label>
        <input type="email" name="email" class="note-text" required>
      </div>

      <div class="note-text-cadre">
        <label for="password" class="label-password">Mot de passe:</label>
        <input type="password" name="password" class="note-text" required>
      </div>

      <div class="note-text-cadre">
        <label for="password_confirm" class="label-password-confirm">Confirmation de mot passe:</label>
        <input type="password" name="password_confirm" class="note-text" required>
      </div>

      <button type="submit" class="btn">Enregister</button>

      <div class="create-account">
        <a href="{{ path('app_login') }}">
          <button type="button" class="btn-success">Se connecter</button>
        </a>
      </div>
    </form>
  </div>
</div>
{% endblock %}
