<style>

.container-profil {    
    width: 100rem;
}

img {
    width: 200px;
    heigth: 120px;
}

.btn-success {
    background-color: #E76F51;
    width: 150px;
    margin-top: 60px;
    position: absolute;
    right: 10px;
}

.profil {
    width: 100%;
    font-family: 'Arial', sans-serif;
    position: absolute;
    left: 50px;
    font-size: 30px;
}


</style>


<div class="container-profil">
<div class="image">
    <img src="image/2-removebg-preview.png" alt="logo">
</div>

    <a href="{{path('app_logout')}}">               
    <button type="button" class="btn btn-success">Déconnexion</button>
    </a>     

</div>
<p class="profil">
         Quoi de beau {{ app.user.nom }} ?
        </p>

        
        
     