<style>
.container-profil {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bannière {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 100%; 
}

img {
    width: 200px;
    height: 150px;
}

.btn-success {
    margin-right: 40px;
    background-color: #2A9D8F;
    width: 150px;
}

.profil {
    font-family: 'Arial', sans-serif;
    font-size: 30px;
}

.affichage {
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
}
</style>

<div class="container-profil">
    <div class="bannière">
        <img src="image/2-removebg-preview.png" alt="logo">
        <a href="{{ path('app_logout') }}">               
        <button type="button" class="btn btn-success">Déconnexion</button>
    </a>
    </div>
        <div class="affichage">
        <p class="profil">Quoi de beau {{ app.user.nom }} ?</p>    
        <p>Qui est sur la liste ?</p>
    </div>
</div>
